@{
    ViewData["Title"] = "Home Page"; // set browser title for Layout
}

<div class="home-hero text-center">
    <h1 class="home-title">Welcome to Ensora Health</h1>
    <p class="home-description">
        Ensora Health is committed to providing secure, AI-powered solutions that simplify workflows, enhance decision-making, and help you improve patient care.
        Our HIPAA-compliant software is designed to support therapists like you with cutting-edge tools and a comprehensive customer experience.
    </p>
    <p>
        <a href="https://ensorahealth.com/" target="_blank" class="home-link">Learn more about our mission here.</a>
    </p>
</div>
